<div class="columns">
    <div class="column">
        <app-header></app-header>
    </div>
</div>
<div class="columns">
    <div class="column is-flex is-block-mobile  is-full ">
        <div class="pl-4">
        </div>
        <div class="p-3 pt-5 is-fullwidth ">
            <div class="columns ">
                <div class="column">
                    <div class=" is-fullwidth is-radius is-relative  has-text-centered ">
                        <img src="assets/images/box-empty.png" alt="sin archivos" class="pt-5 is-height-200">
                        <span class="is-size-5 pb-6 is-block">Aún no tienes proyectos registrados</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>