<div
    class="columns is-block-mobile is-flex is-justify-content-space-between is-align-items-center is-bordered-bottom mb-6">
    <div class="column ">
        <h1 class="is-flex is-block-mobile is-align-items-center mb-3 mb-3 mb-0-mobile">
            <span class=" pr-5 "><strong>5</strong> Proyectos</span> <span
                class="is-bordered-right mr-5 is-height-60 is-inline-block is-hidden-mobile"></span>
            <span class="is-block-mobile"><strong>12</strong> HOST/IP</span>
        </h1>
    </div>
    <div class="column">
    </div>
    <div class="column is-hidden-touch">
    </div>
    <div class="column has-text-right">
        <button
            class=" is-pulled-right is-clickable has-button-hover has-background-transparent is-borderless has-no-decoration is-flex is-align-items-center is-justify-content-center ml-2">
            <i class="las la-print  is-size-4 "></i>
            <span class="has-no-decoration">Imprimir</span>
        </button>
    </div>
</div>
<div class="mb-3 mb-5">
</div>
<div class="columns ">
    <div class="column">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-server mr-3"></i>
                <h3>Top 5 IP/Host Vulnerabilidades Críticas</h3>
            </header>
            <div class="has-text-right">
                <a href="vulnerabilidades" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>
            </div>
        </div>
        <app-html-table [class]="vulnerabilidades.class"
        [columns]="vulnerabilidades.columns"
        [values]="vulnerabilidades.values"></app-html-table>        
    </div>
    <div class="column  is-half">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-bug mr-3"></i>
                <h3>
                    50 vulnerabilidades detectadas
                </h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/vulnerabilidades'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>
            </div>
        </div>
        <div class="card p-4 is-fullwidth  is-size-5 mb-4 ">
            <div class=" is-fullwidth has-text-centered ">
                <div class="is-inline-block has-text-centered">
                    <app-chart [options]="{ chart: {
                        width: 280,
                        type: 'pie',
                      }}"></app-chart>
                </div>
                <div class="is-inline-block has-text-centered">
                    <div class="is-flex">
                        <div class=" mx-3 is-size-5 has-text-centered mb-4">
                            <div class="mt-3 has-text-centered is-inline-block">
                                <i class="las la-bug has-text-danger"></i>
                            </div>
                            <div>
                                30 Críticos
                            </div>
                        </div>
                        <div class=" mx-3 is-size-5 has-text-centered mb-4">
                            <div class="mt-3 has-text-centered is-inline-block">
                                <i class="las la-bug has-text-warning"></i>
                            </div>
                            <div>
                                3 Medios
                            </div>
                        </div>
                        <div class=" mx-3 is-size-5 has-text-centered mb-4">
                            <div class="mt-3 has-text-centered is-inline-block">
                                <i class="las la-bug has-text-low"></i>
                            </div>
                            <div>
                                7 Bajos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns mb-5">
    <div class="column">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-bug mr-3"></i>
                <h3>Top 5 vulnerabilidades</h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/vulnerabilidades'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>

            </div>
        </div>
        <app-html-table [class]="topFiveVulnerabilidades.class"
        [columns]="topFiveVulnerabilidades.columns"
        [values]="topFiveVulnerabilidades.values"></app-html-table>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-briefcase mr-3"></i>
                <h3>Últimos 5 proyectos</h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/proyectos'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>
            </div>
        </div>
        <app-html-table [class]="topFiveProjects.class"
        [columns]="topFiveProjects.columns"
        [values]="topFiveProjects.values"></app-html-table>
    </div>
    <div class="column is-half">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-thermometer-half mr-3"></i>
                <h3> Escala de Riesgos</h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/servidores'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>

            </div>
        </div>
        <div class="card mb-4 is-relative has-shadow">
            <label for="escala-riesgos">Hosts/IPS:</label>
            <select name="" id="escala-riesgos" class="select mb-5 is-radius">
                <option value="">10.338.301.23</option>
                <option value="">50.348.701.42</option>
                <option value="">23.443.581.53</option>
                <option value="">22.793.381.27</option>
            </select>
            <div class="columns mb-0 pb-0">
                <div class="column is-offset-one-quarter is-half mb-0 pb-0">
                    <img src="assets/images/grafico2.svg" alt="" class="p-5">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 ">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-tasks mr-3"></i>
                <h3>Asignaciones</h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/asignaciones'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>

            </div>
        </div>
        <app-html-table [class]="assignments.class"
        [columns]="assignments.columns"
        [values]="assignments.values"></app-html-table>
    </div>
    <div class="column is-half">
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2 is-block-mobile">
            <header class="mb-3 is-flex is-align-items-center mb-0-mobile">
                <i class="las la-bug mr-3"></i>
                <h3> Vulnerabilidades vencidas</h3>
            </header>
            <div class="has-text-right">
                <a [routerLink]="'/vulnerabilidades'" class="tag has-button-hover is-borderless has-background-transparent">Ver
                    más</a>

            </div>
        </div>
        <app-html-table [class]="assignmentExpires.class"
        [columns]="assignmentExpires.columns"
        [values]="assignmentExpires.values"></app-html-table>
    </div>
</div>