<div class="columns is-fullheight">
    <div class="column is-half is-offset-one-fifth">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-pulled-right pt-6 is-full-tablet">
                <div class="pt-5 is-fullwidth ">
                    <img class="img-logo mb-6" src="assets/images/logo.png" alt="">
                    <div class="is-flex is-justify-content-space-between is-align-items-center mb-3 mb-5">
                        <h1>
                            Nuevo usuario demo
                        </h1>
                    </div>
                </div>
                <div class="tabs is-toggle is-fullwidth">
                    <ul>
                        <li class="is-active has-text-white">
                            <a href="/login-demo">
                                <span>
                                    <h4 class="has-text-white is-flex has-align-items-center">
                                        <i
                                            class="las mr-2  is-flex-wrap-wrap is-justify-content-center is-align-content-center image is-32x32 has-background-white is-flex is-rounded is-block">
                                            <span class="is-block has-text-primary is-size-6">1</span>
                                        </i>
                                        <span> Información personal</span>
                                    </h4>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/login-demo-resumen">
                                <span>
                                    <h4 class=" is-flex has-align-items-center">
                                        <i
                                            class="las mr-2  is-flex-wrap-wrap is-justify-content-center is-align-content-center  image is-32x32 has-background-transparent is-flex is-rounded is-block is-bordered">
                                            <span class="is-block has-text-primary is-size-6">2</span>
                                        </i>
                                        <span>
                                            Resumen
                                        </span>
                                    </h4>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="mb-5">Es importante para nosotros conocerlo, favor ingrese sus datos de contacto. El correo
                    eMail proporcionado será su login para ingresar al sistema.</p>
                <div class="form-group mb-4">
                    <label for="nuevo-nombre-apellido" class=" is-block">
                        Su nombre y apellido
                    </label>
                    <input id="nuevo-nombre-apellido" type="text" class="input is-radius">
                </div>
                <div class="form-group mb-4">
                    <label for="nuevo-correo" class=" is-block">
                        Su correo electrónico
                    </label>
                    <input id="nuevo-correo" type="text" class="input is-radius">
                </div>
                <div class="form-group mb-4">
                    <label for="empresa" class=" is-block">
                        Su empresa
                    </label>
                    <input id="empresa" type="text" class="input is-radius">
                </div>
                <div class=" has-text-right">
                    <a href="/login-demo-resumen"
                        class="has-text-white button is-primary is-radius is-right mb-5">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>