<div class="columns is-fullheight">
    <div class="column is-two-thirds">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds is-pulled-right pt-6 has-form-max-width is-full-mobile">
                <div class="pt-5 is-fullwidth ">
                    <img class="img-logo mb-6" src="assets/images/logo.png" alt="">
                    <div class="is-flex is-justify-content-space-between is-align-items-center mb-3 mb-5">
                        <h1>
                            Registro inicial
                        </h1>
                    </div>
                </div>
                <p class="mb-5">Es importante para nosotros conocerlo, favor ingrese sus datos de contacto. El correo
                    eMail proporcionado será su login para ingresar al sistema.</p>
                <div class="form-group mb-4">
                    <label for="nuevo-nombre-apellido" class=" is-block">
                        Su nombre y apellido
                    </label>
                    <input id="nuevo-nombre-apellido" type="text" class="input is-radius">
                </div>
                <div class="form-group mb-4">
                    <label for="nuevo-correo" class=" is-block">
                        Su correo electrónico
                    </label>
                    <input id="nuevo-correo" type="text" class="input is-radius">
                </div>
                <div class="form-group mb-4">
                    <label for="empresa" class=" is-block">
                        Su empresa
                    </label>
                    <input id="empresa" type="text" class="input is-radius">
                </div>
                <div class=" is-bordered-bottom mb-4"></div>
                <div class="select is-fullwidth form-group mb-4">
                    <label for="ambiente" class=" is-block">
                        Ambiente
                    </label>
                    <select id="ambiente" class="is-radius">
                        <option>Seleccione opción</option>
                    </select>
                </div>
                <div class="select is-fullwidth form-group mb-4">
                    <label for="modalidad" class=" is-block">
                        Modalidad
                    </label>
                    <select id="modalidad" class="is-radius">
                        <option>Seleccione opción</option>
                    </select>
                </div>
                <div class="select is-fullwidth form-group mb-4">
                    <label for="perimetro" class=" is-block">
                        Perímetro
                    </label>
                    <select id="perimetro" class="is-radius">
                        <option>Seleccione opción</option>
                    </select>
                </div>
                <div class=" is-bordered-bottom mb-4"></div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        Credenciales de acceso
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        Restricción de horario
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        IDS, IPS o Firewall
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        Perfiles Acceso
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        VPN
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="is-fullwidth form-group mb-0">
                    <label for="" class=" is-block">
                        Permite máquina remota SSH
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">Si</span>
                            </label>
                        </div>
                        <div class="field" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" is-bordered-bottom mb-4"></div>
                <h3 class="mb-3">Listado Web/IP</h3>
                <div class="is-fullwidth form-group mb-4">
                    <label for="" class=" is-block">
                        Sitio Web o IP
                    </label>
                    <div class="control is-flex">
                        <div class="field mr-3 mb-2" aria-labelledby="radio_example">
                            <label id="radio_example_option1" class="radio">
                                <input type="radio" name="radio_example" value="uno">
                                <span class="control-label">URL</span>
                            </label>
                        </div>
                        <div class="field mb-2" aria-labelledby="radio_example">
                            <label id="radio_example_option2" class="radio">
                                <input type="radio" name="radio_example" value="dos">
                                <span class="control-label">IP</span>
                            </label>
                        </div>
                    </div>
                    <input id="nuevo-correo" type="text" class="input is-radius mb-4">
                    <button
                        class="has-button-hover p-0 is-borderless has-background-transparent is-clickable is-relative  is-inline-flex is-align-items-center"
                        onclick="show()"> <i class="las la-plus-square is-size-6 mr-2"></i><span class="mr-1">Agregar
                            URL/IP</span>
                    </button>
                </div>
                <div class="has-text-right">
                    <a href="/" class="has-text-white button is-primary is-radius is-right mb-5">Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>