<div class="columns is-fullheight">
    <div class="column is-two-thirds">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds is-pulled-right pt-6 has-form-max-width is-full-mobile">
                <div class="pt-5 is-fullwidth ">
                    <img class="img-logo mb-6" src="assets/images/logo.png" alt="">
                    <h1 class=" mb-5">
                        Cambie su contraseña
                    </h1>
                    <p class="mb-5">
                        Ingrese una nueva contraseña para su cuenta.
                    </p>
                </div>
                <div class="form-group mb-4">
                    <label for="nuevo-password" class=" is-block">
                        Nueva contraseña
                    </label>
                    <input id="nuevo-password" type="password" class="input is-radius">
                </div>
                <div class="form-group mb-4">
                    <label for="reingresar-password" class=" is-block">
                        Confirmar nueva contraseña
                    </label>
                    <input id="reingresar-password" type="password" class="input is-radius">
                </div>
                <div>
                    <ul class="is-size-8">
                        <li class="is-flex is-align-items-top">
                            <i class="las la-times has-text-danger is-size-7 mr-2"></i> Los campos nueva contraseña y
                            confirmar contraseña no coinciden.
                        </li>
                        <li class="is-flex is-align-items-top">
                            <i class="las la-check has-text-success is-size-7 mr-2"></i> Debe contener al menos 2
                            mayúscula(s), 2 minúscula(s), y 2 carácteres especiales.
                        </li>
                        <li class="is-flex is-align-items-top">
                            <i class="las la-check has-text-success is-size-7 mr-2"></i> Poseer largo mínimo 8
                            caracteres, largo máximo 15 caracteres.
                        </li>
                        <li class="is-flex is-align-items-top">
                            <i class="las la-times has-text-danger is-size-7 mr-2"></i> No puede ser igual a alguna de
                            sus últimas 6 contraseñas.
                        </li>
                        <li class="is-flex is-align-items-top">
                            <i class="las la-times has-text-danger is-size-7 mr-2"></i> No puede ser igual a su login de
                            usuario.
                        </li>
                        <li class="is-flex is-align-items-top">
                            Nota: Se consideran caracteres especiales los siguiente: !#$%&()+,-./:;@
                        </li>
                    </ul>
                </div>
                <div class="is-flex-desktop is-align-items-center is-justify-content-space-between mt-6">
                    <a href="login" class="link is-block is-hidden-touch mb-5">Iniciar sesión</a>
                    <a href="password-exito" class="has-text-white button is-primary is-radius is-right mb-5 ">Cambiar
                        contraseña</a>
                    <a href="login" class="link is-block is-hidden-desktop">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>