<div class="columns is-fullheight">
    <div class="column is-two-thirds">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds is-pulled-right pt-6 has-form-max-width is-full-mobile">
                <div class="pt-5 is-fullwidth ">
                    <img class="img-logo mb-6" src="assets/images/logo.png" alt="">
                    <h1 class=" mb-5">
                        ¡Su contraseña ha sido cambiada con éxito!
                    </h1>
                    <p class="mb-5">
                        Para continuar, inicie sesión con su nueva contraseña.
                    </p>
                </div>
                <div class="is-flex-desktop is-align-items-center is-justify-content-space-between mt-6">
                    <a href="login" class="has-text-white button is-primary is-radius is-right mb-5">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>