<div class="columns is-fullheight">
    <div class="column is-two-thirds">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds is-pulled-right pt-6 has-form-max-width is-full-mobile">
                <div class="pt-5 is-fullwidth ">
                    <img class="img-logo mb-6" src="assets/images/logo.png" alt="">
                    <h1 class=" mb-5">
                        Recuperar contraseña
                    </h1>                               
                    <p class="mb-5">
                        Ingrese su correo electrónico para enviar el vínculo que permite resetear su contraseña.
                    </p>
                </div>
                <div class="form-group mb-4">
                    <label for="correo-password" class="is-block" >
                    Correo electrónico
                    </label>
                    <input id="correo-password" type="text" class="input is-radius">
                </div>
                <div class="is-flex-desktop is-align-items-center is-justify-content-space-between mt-6">
                    <a href="login" class="link is-block is-hidden-touch mb-5">Iniciar sesión</a>
                    <a href="password-enviado" class="has-text-white button is-primary is-radius is-right mb-5">Solicitar contraseña</a>
                    <a href="login" class="link is-block is-hidden-desktop">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
