/*Botón navegación se vuelve azul al estar en hover*/
button.has-hover-white:hover,
a.has-hover-white:hover{
	background-color: #fff!important;
	transition: background 0.3s;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)!important;
	transition: box-shadow 0.3s;
}