<header class="boxshadow-header"></header>
<main>
    <section class="has-background-gray px-4" *ngIf="showDash">
        <div class="columns">
            <div class="column ">
                <app-header></app-header>
            </div>
        </div>
        <div class="columns">
            <div class="column is-flex is-block-mobile is-full ">
                <div class="pl-4">
                    <app-menu></app-menu>
                </div>
                <div class="p-3 pt-5 is-fullwidth ">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
    <section class="has-background-gray px-4 is-fullheight" *ngIf="!showDash">
        <router-outlet></router-outlet>
    </section>
</main>
<app-footer></app-footer>