<h1 class="p-3 pt-5 is-hidden-tablet">Facturación</h1>
<div class="p-3  is-fullwidth is-scroll-mobile ">
    <div
        class="columns is-block-mobile is-flex is-justify-content-space-between is-align-items-center is-bordered-bottom mb-6  pb-3  ">
        <div class="column is-hidden-mobile">
            <h1 class="mb-5">Facturación</h1>
        </div>
    </div>
    <div class="mb-4">
        <ul>
            <li>
                Nombre: <strong>Constanza</strong>
            </li>
            <li>
                Forma de pago asociada: <strong>PayPal</strong>
            </li>
        </ul>
    </div>
    <app-html-table [class]="class" [columns]="columns" [values]="values"></app-html-table>
</div>