<div
    class="columns is-block-mobile is-flex is-justify-content-space-between is-align-items-center is-bordered-bottom mb-5   ">
    <div class="column">
        <h1 class="mb-3">Asignaciones</h1>
    </div>
    <div class="column ">
        <div class="is-flex is-pulled-right is-align-items-center has-text-right">
            <button
                class=" is-pulled-right is-clickable has-button-hover has-background-transparent is-borderless has-no-decoration is-flex is-align-items-center is-justify-content-center js-modal-trigger"
                data-target="modal-filtro">
                <i class="las la-filter  is-size-4 "></i>
                <span class="has-no-decoration">Filtros:</span>
            </button>
        </div>
    </div>
</div>

<div class="tabs is-toggle is-fullwidth">
    <ul>
        <li>
            <a href="asignaciones">
                <span>
                    <h4 class="is-flex has-align-items-center">
                        <i
                            class="las mr-2  is-flex-wrap-wrap is-justify-content-center is-align-content-center image is-32x32 has-background-transparent is-flex is-rounded is-block">
                            <span class="is-block has-text-primary is-size-6">1</span>
                        </i>
                        <span> Selecciona vulnerabilidades</span>
                    </h4>
                </span>
            </a>
        </li>
        <li>
            <a href="asignaciones2">
                <span>
                    <h4 class="is-flex has-align-items-center">
                        <i
                            class="las mr-2  is-flex-wrap-wrap is-justify-content-center is-align-content-center  image is-32x32 has-background-transparent is-flex is-rounded is-block is-bordered">
                            <span class="is-block has-text-primary is-size-6">2</span>
                        </i>
                        <span>
                            Selecciona responsables
                        </span>
                    </h4>
                </span>
            </a>
        </li>
        <li>
            <a href="asignaciones3">
                <span>
                    <h4 class="is-flex has-align-items-center">
                        <i
                            class="las mr-2 is-flex-wrap-wrap is-justify-content-center is-align-content-center image is-32x32 has-background-transparent is-flex is-rounded is-block is-bordered">
                            <span class="is-block has-text-primary is-size-6">3</span>
                        </i>
                        <span> Confirma asignaciones</span>
                    </h4>
                </span>
            </a>
        </li>
        <li class="is-active has-text-white">
            <a href="asignaciones4">
                <span>
                    <h4 class="has-text-white is-flex has-align-items-center">
                        <i
                            class="las mr-2 is-flex-wrap-wrap is-justify-content-center is-align-content-center image is-32x32 has-background-white is-flex is-rounded is-block is-bordered">
                            <span class="is-block has-text-primary is-size-6">4</span>
                        </i>
                        <span>Finalizar</span>
                    </h4>
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="columns is-scroll-mobile">
    <div class="column">
        <div
            class="is-fullwidth box  has-text-centered py-6  is-relative has-left-border is-clipped has-border-left-gradient has-shadow">
            <span class="is-size-1 py-6 my-4 is-block">Ha finalizado con éxito las asignaciones</span>
            <a href="proyectos" class="link">Ir a proyectos</a>
        </div>
    </div>
</div>