    <div class="is-flex is-align-items-center is-bordered-bottom pb-4 mb-4 has-text-right">
        <h4 class="mr-3">¿Necesitas una reevaluación?</h4> <button
            class="button is-borderless is-primary is-rounded js-modal-trigger" data-target="modal-reevaluacion">
            Solicitar</button>
    </div>
    <div
        class="columns is-block-mobile is-flex is-justify-content-space-between is-align-items-center is-bordered-bottom mb-6">
        <div class="column">
            <h1 class="mb-1">CopcopCo</h1>
            <span class="mb-2 is-block">Tipo de proyecto: <strong> Evaluación</strong></span>
            <span>Estado: <strong class="has-background-primary-light px-2 is-radius"> Abierto</strong></span>
            <div class="is-flex is-align-items-center mt-2">
                <span class="las la-calendar mr-2"></span>
                <span>Fecha de creación:<strong>09/11/2023</strong></span>
            </div>
        </div>
        <div class="column">
            <div class="is-flex">
                <a [routerLink]="'/proyecto'"
                    class="mr-3 has-background-transparent button is-size-6 has-text-dark has-no-decoration  is-borderless has-button-hover-white "><i
                        class="las la-chart-pie mr-2 is-size-5"></i> Gráficos</a>
                <a [routerLink]="'/tablero'"
                    class="mr-3 has-background-transparent  button is-size-6 has-text-dark has-no-decoration is-borderless has-button-hover-white is-active"><i
                        class="las la-columns mr-2 is-size-5"></i> Tablero</a>
                <a [routerLink]="'/listado'"
                    class="mr-3 has-background-transparent  button is-size-6 has-text-dark has-no-decoration is-borderless has-button-hover-white"><i
                        class="las la-list mr-2 is-size-5"></i> Listado</a>
            </div>
        </div>
        <div class="column has-text-right">
            <button
                class=" is-pulled-right is-clickable has-button-hover has-background-transparent is-borderless has-no-decoration is-flex is-align-items-center is-justify-content-center ml-2">
                <i class="las la-print  is-size-4 "></i>
                <span class="has-no-decoration">Imprimir</span>
            </button>
            <button
                class=" is-pulled-right is-clickable has-button-hover has-background-transparent is-borderless has-no-decoration is-flex is-align-items-center is-justify-content-center js-modal-trigger"
                data-target="modal-filtro">
                <i class="las la-filter  is-size-4 "></i>
                <span class="has-no-decoration">Filtros</span>
            </button>
        </div>
    </div>
    <div class="columns is-scrolled main-scrolled-desktop ">
        <div class="column is-min-300 is-one-fourth is-bordered-right ml-3 pl-0">
            <h3 class="mb-3">Detectada</h3>
            <div class="collapse card card-status card-status-det  p-0 py-4">

                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                oct2020_SCRUTI_3_33_26_0</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-det is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Python Unsupported Version Detection</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-det is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Python Unsupported Version Detection</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-min-300 is-one-fourth is-bordered-right ml-3 pl-0">
            <h3 class="mb-3">Asignada a</h3>
            <div class="collapse card card-status card-status-start  p-0 py-4">

                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Apache 2.4x < 2.4.52 Multiple Vulnerabilities </strong>
                        </a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-start is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Apache 2.4x < 2.4.47 Multiple Vulnerabilities </strong>
                        </a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-start is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Apache < 2.4.49 Multiple Vulnerabilities</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-min-300 is-one-fourth is-bordered-right ml-3 pl-0">
            <h3 class="mb-3">En desarrollo</h3>
            <div class="collapse card card-status card-status-dev  p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                oct2020_SCRUTI_4_24_75_2</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-dev is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                nov2020_SCRUTI_3_54_2_1</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-dev is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                nov2020_SCRUTI_3_54_2_1</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-min-300 is-one-fourth ml-3 pl-0">
            <h3 class="mb-3">Resuelta</h3>
            <div class="collapse card card-status card-status-ok  p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                oct2020_SCRUTI_3_33_26_0</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-ok is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                nov2020_SCRUTI_3_54_2_1</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
            <div class="collapse card card-status card-status-ok is-collapsed p-0 py-4">
                <div class="mb-2 is-flex is-align-items-center px-4 is-justify-content-space-between">
                    <div class="is-flex">
                        <span class="has-tooltip-active has-tooltip-top is-relative has-text-danger mr-1"
                            data-tooltip="Crítico"><i class="las la-bug mr-1"> </i></span>
                        <a class="is-inline-block  has-no-decoration has-text-dark js-modal-trigger"
                            data-target="detalle_tarea"><strong>Oracle Solaris critical patch update -
                                nov2020_SCRUTI_3_54_2_1</strong></a>
                    </div>
                </div>
                <button class=" is-borderless has-background-transparent collapse-button has-no-decoration"
                    role="button" aria-controls="id_ejemplo" aria-expanded="true">
                </button>
                <div id="id_ejemplo" class="collapse-content">

                    <div class="mb-2 px-4">
                        <i class="las la-comment-dots mr-1"> </i>
                        <span>5 Comentarios</span>
                    </div>
                    <div class="mb-2 px-4">
                        <i class="las la-paperclip mr-1"> </i>
                        <span>Archivos adjuntos</span>
                    </div>
                    <div class="mb-1 px-4">
                        <span class="p-3 tag mb-2">portal.com</span>
                        <span class="p-3 tag mb-2">20.102.04</span>
                    </div>
                    <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                        <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg"
                                alt="" class="is-rounded"> </figure>
                        <span>Pedro Soto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>