<div class="mb-5 is-flex is-align-items-center">
    <span class="mr-3"><i class="las la-filter  is-size-4 "></i> Filtros</span>
    <select name="" id="" class=" p-3 is-radius is-borderless mr-3" aria-labelledby="team-filter">
        <option id="team-filter" value="">Asignado a</option>
        <option value="">Pedro</option>
        <option value="">Claudio</option>
    </select>
    <select name="" id="" class=" p-3 is-radius is-borderless" aria-labelledby="Host-filter">
        <option id="host-filter" value="">Host</option>
        <option value="">portal.cl</option>
        <option value="">Claudio</option>
    </select>
</div>
<div class="columns">
    <div class="column is-bordered-right pr-5">
        <h3 class="mb-3">Asignada</h3>
        <div class="card p-0 py-4">
            <div class="mb-2 is-flex is-align-items-center px-4">
                <div>
                    <i class="las la-bug mr-1 has-text-danger" data-tooltip="Crítico"> </i>
                    <span><strong> Nombre de tarea</strong></span>

                </div>
                <button class="has-background-transparent is-borderless">
                    <i class="las la-angle-down mr-1"> </i>

                </button>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-comment-dots mr-1"> </i>
                <span>5 Comentarios</span>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-paperclip mr-1"> </i>
                <span>Archivos adjuntos</span>
            </div>
            <div class="mb-1 px-4">
                <span class="p-3 tag mb-2">portal.com</span>
                <span class="p-3 tag mb-2">20.102.04</span>
            </div>
            <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg" alt=""
                        class="is-rounded"> </figure>
                <span>Pedro Soto</span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <i class="las la-bug mr-1 has-text-warning" data-tooltip="Crítico"> </i>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <i class="las la-bug mr-1 has-text-sky" data-tooltip="Crítico"> </i>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
    </div>
    <div class="column is-bordered-right pr-5 ml-3">
        <h3 class="mb-3">En desarrollo</h3>
        <div class="card p-0 py-4">
            <div class="mb-2 is-flex is-align-items-center px-4">
                <span class="status-critical-dot ml-1 mr-3 has-tooltip-active has-tooltip-top"
                    data-tooltip="Crítico"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-comment-dots mr-1"> </i>
                <span>5 Comentarios</span>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-paperclip mr-1"> </i>
                <span>Archivos adjuntos</span>
            </div>
            <div class="mb-1 px-4">
                <span class="p-3 tag mb-2">portal.com</span>
                <span class="p-3 tag mb-2">20.102.04</span>
            </div>
            <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg" alt=""
                        class="is-rounded"> </figure>
                <span>Pedro Soto</span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <span class="status-medium-dot ml-1 mr-3 has-tooltip-active has-tooltip-top"
                    data-tooltip="Medio"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <span class="status-low-dot ml-1 mr-3 has-tooltip-active has-tooltip-top" data-tooltip="Bajo"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
    </div>
    <div class="column ml-3">
        <h3 class="mb-3">Finalizado</h3>
        <div class="card p-0 py-4">
            <div class="mb-2 is-flex is-align-items-center px-4">
                <span class="status-critical-dot ml-1 mr-3 has-tooltip-active has-tooltip-top"
                    data-tooltip="Crítico"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-comment-dots mr-1"> </i>
                <span>5 Comentarios</span>
            </div>
            <div class="mb-2 px-4">
                <i class="las la-paperclip mr-1"> </i>
                <span>Archivos adjuntos</span>
            </div>
            <div class="mb-1 px-4">
                <span class="p-3 tag mb-2">portal.com</span>
                <span class="p-3 tag mb-2">20.102.04</span>
            </div>
            <div class=" is-flex is-align-items-center px-4 is-bordered-top pt-3">
                <figure class="image is-32x32 is-inline-flex mr-3 "> <img src="assets/images/usuario2.jpg" alt=""
                        class="is-rounded"> </figure>
                <span>Pedro Soto</span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <span class="status-medium-dot ml-1 mr-3 has-tooltip-active has-tooltip-top"
                    data-tooltip="Medio"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
        <div class="card p-0 py-4">
            <div class=" is-flex is-align-items-center px-4">
                <span class="status-low-dot ml-1 mr-3 has-tooltip-active has-tooltip-top" data-tooltip="Bajo"></span>
                <span><strong> Nombre de tarea</strong></span>
            </div>
        </div>
    </div>
</div>