<h1 class="p-3 pt-5 is-hidden-tablet">Proyectos</h1>
<div class="p-3  is-fullwidth is-scroll-mobile ">
    <div
        class="columns is-block-mobile is-flex is-justify-content-space-between is-align-items-center is-bordered-bottom mb-6  pb-3  ">
        <div class="column is-hidden-mobile">
            <h1 class="mb-5">Proyectos</h1>
        </div>
        <div class="column has-text-right">
            <button
                class=" is-pulled-right is-clickable has-button-hover has-background-transparent is-borderless has-no-decoration is-flex is-align-items-center is-justify-content-center">
                <i class="las la-file-excel  is-size-4 "></i>
                <span class="has-no-decoration">Descargar Excell</span>
            </button>
        </div>
    </div>
    <app-html-table [class]="class" [columns]="columns" [values]="values"></app-html-table>
</div>